@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom);
}

.safe-area-inset-top {
  padding-top: var(--safe-area-top);
  padding-bottom: var(--safe-area-bottom);
}

body {
  overscroll-behavior: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}